데이터프레임, 행렬, 그래프 그리기 위한 라이브러리

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 데이터 불러오기

ExampleData 불러오기

In [2]:
ExampleData = pd.read_csv('./ExampleData', sep=',', header=None)
ExampleData

             0         1         2         3
0     0.000000  0.016440 -0.014200  0.001433
1     0.000078  0.013822 -0.015707  0.001504
2     0.000156  0.019431 -0.016963  0.001433
3     0.000234  0.003726 -0.017248  0.001549
4     0.000313  0.022049 -0.009840  0.001864
...        ...       ...       ...       ...
2769  0.216330  0.077392  0.002404  0.003453
2770  0.216410  0.030276  0.003952  0.003498
2771  0.216480  0.017188  0.005504  0.003397
2772  0.216560  0.037754 -0.000108  0.003506
2773  0.216640 -0.016093 -0.001652  0.003600

[2774 rows x 4 columns]

0.01초부터(이상, 0.01초 포함) 0.09초까지(미만, 0.09초 미포함) 해당하는 데이터 추출

In [3]:
StartPoint = np.where(ExampleData.iloc[:,0].values == 0.01)[0][0]
EndPoint   = np.where(ExampleData.iloc[:,0].values == 0.09)[0][0]

StartPoint, EndPoint

(128, 1152)

In [4]:
NewData = ExampleData.iloc[StartPoint:EndPoint, :]
NewData

             0         1         2         3
128   0.010000 -0.017962 -0.010766 -0.005784
129   0.010078 -0.094246  0.022769  0.001770
130   0.010156 -0.103970 -0.086215 -0.008154
131   0.010234 -0.103590  0.165990  0.005673
132   0.010313 -0.103220 -0.925800 -0.033911
...        ...       ...       ...       ...
1147  0.089609  0.339900 -0.040556 -0.022446
1148  0.089688  0.394870 -0.050959 -0.020642
1149  0.089766  0.371310 -0.047503 -0.022584
1150  0.089844  0.209020 -0.040241 -0.021478
1151  0.089922  0.158540 -0.050360 -0.022476

[1024 rows x 4 columns]

## 데이터 핸들링 (Handling)

시간열(time column) 제거한 센서 데이터 추출

In [5]:
SensorDataOnly = NewData.iloc[:,1:]
SensorDataOnly

             1         2         3
128  -0.017962 -0.010766 -0.005784
129  -0.094246  0.022769  0.001770
130  -0.103970 -0.086215 -0.008154
131  -0.103590  0.165990  0.005673
132  -0.103220 -0.925800 -0.033911
...        ...       ...       ...
1147  0.339900 -0.040556 -0.022446
1148  0.394870 -0.050959 -0.020642
1149  0.371310 -0.047503 -0.022584
1150  0.209020 -0.040241 -0.021478
1151  0.158540 -0.050360 -0.022476

[1024 rows x 3 columns]

데이터를 파일(.csv)로 저장

In [6]:
path = './ST136_HW1_1'
SensorDataOnly.to_csv(path , sep=',' , header=None , index=None)